.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: 'Nuito', sans-serif;
}

.toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
    background: none;
    border: none;
}

.toggle-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
}

.toggle-bar {
    height: 2px;
    width: 20px;
    background-color: #012970;
    transition: all 0.3s ease;
}
