@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(254, 255, 254);
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.swiper-button-next:after,
.swiper-button-prev:after{
    color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #5eb072 !important
}

html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}
